.cart_details_price {
  position: relative;
  left: 75%;
  font-weight: bold;
}
.cart_details_totalamount {
  font-weight: bold;
}
.cart_buttons {
  position: relative;
  left: 75%;
}
.mealsaddbutton {
  display: inline-block;
  background-color: blueviolet;
  color: white;
  border-radius: 15px;
  width: 80px;
  text-align: center;

  margin: 10px 0px 0px 5px;
  border-width: 0px;
  height: 30px;
}
