.summary {
  height: 250px;
  width: 600px;
  background-color: dimgray;
  border-radius: 15px;
  position: relative;
  bottom: 280px;
  left: 350px;
  z-index: 1;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.summaryheading {
  color: white;
  padding: 25px 10px 0px 50px;
}
.summarydetails {
  color: white;
  padding: 10px 10px 0px 10px;
  font-size: 13px;
}
