.mealsname {
  padding: 10px 0px 0px 20px;
  font-weight: bold;
}
.mealsdes {
  padding: 0px 0px 0px 20px;
  font-style: italic;
  font-size: small;
}
.mealsprice {
  color: red;
  padding: 0px 0px 0px 20px;
}
hr {
  width: 770px;
}
.mealsdata {
  display: inline-block;
}
.mealsadd {
  display: inline-block;
  position: absolute;
  right: 20px;
  margin: 15px;
}
