.header {
  background: red;
  position: relative;
  z-index: 10;
}
.headerheading {
  display: inline-block;
  margin-left: 100px;
  color: white;
  border-radius: 10px;
  margin-top: 15px;
}
.imagestyle {
  width: 110%;
  height: 250px;
  position: relative;
  bottom: 50px;
  z-index: 1;
  transform: rotateZ(-5deg) translateY(-1rem) translateX(-1rem);
}
